@model WC_mvc.Models.Phase

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Phase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhaseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhaseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorldCup.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorldCup.Location)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Phase_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
