@model IEnumerable<WC_mvc.Models.ScorerInGame>

@{
    ViewBag.Title = "Index";
}


<h3>
    @Html.ActionLink("Create New", "Create")
</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Game.Game_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Scorer.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Game.Game_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Scorer.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
